name: backend-ci

on:
  pull_request:
    branches: [ "feat/example", "main" ]
  push:
    branches: [ "feat/example" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.x"
      - name: Build
        run: |
          go build ./...
      - name: Test
        run: |
          go test ./...